@font-face{
    font-family: TUVAbove-Bold; 
    src:url("../font/TUVAbove-Bold.ttf");
}
@font-face{
    font-family: DejaVuSans; 
    src:url("../font/DejaVuSans-Bold.ttf");
}


#bot {
    background-image: url('../img/anhnen.jpg');
}
