/*all*/
hr {
    border: 2px solid #fa2d2f;
    opacity: 80%;
    width: clamp(20rem,80%,80rem);
    margin: auto auto 1em auto;    
}

a {
    text-decoration: none;
}
/*Header*/
.logo {
    display: flex;
    width: clamp(70px,3vw,90px);
}
.contain {
    display: flex;
    margin: auto;
    width: clamp(20rem,80%,80rem);
    justify-content: space-between;
    align-items: center;
}
    .contain > nav > ul {
        list-style: none;
        display: flex;
        column-gap: clamp(2px,2vw,10px);
    }
.item:has(*) {
    width: clamp(50px,7vw,140px);
    padding: 0;
    text-align: center;
    align-content: center;
    font-size: clamp(12px,2vw,16px);
}
.item:has(input) {
    width: clamp(205px,15vw,240px);    
}
.item > a {
    color: #fa2d2f;
    opacity: 90%;
    transition: all 0.2s;
    font-weight: 500;
}
    .item > a:hover,
    .item > a:focus {
        opacity: 100%;
    }
    
    .item > button:hover,
    .item > button:focus,
    .item > input:hover,
    .item > input:focus {
        opacity: 100%;
        border-color: rgba(200, 200, 200, 1);
    }
.item > input {
    width: 160px;
    border-color: rgba(255, 255, 255, 0.9);
    opacity: 90%;
    border-radius: 8px;
    padding: 9px;
    margin: 0;
    transition: all 0.2s;
}
.item > button {
    color: snow;
    background-color: #FC5759;
    border-color: rgba(255, 255, 255, 0.75);
    opacity: 90%;
    border-radius: 8px;
    padding: 9px;
    margin: 0;
    transition: all 0.2s;
}


